@font-face {
	font-family: Raleway;
	src: url(raleway_thin.eot);
	src: local(raleway_thin), url(raleway_thin.ttf) format(opentype);
}
body{
	width: 700px;
	margin: 0 auto;
	padding: 29px;
	border: 1px solid #233;
	border-top: none;
	background: #FFF;
	font: 82%/1.4 Verdana, Arial, Helvetica, sans-serif;
}

h1{
	float: left;
	margin-top: 0;
	font-family: Raleway, Georgia, Times, Times New Roman, serif;
}

h2,h3{
	font-family: Georgia, Times, Times New Roman, serif;
}

.header
{
	border-bottom: 6px solid #233;
}

.navigation
{
	float: right;
	margin: 0;
	list-style: none;
}

.navigation li
{
	float: left;
}

.navigation a{
	display: block;
	margin-left:0.5em;
}

.header .intro {
	clear: both;
	font-weight: bold;
}

.intro {
	font-style: italic;
}

.ingredients {
	float: right;
	margin: 0 0 15px 15px;
	padding-left: 15px;
	border-left: 1px solid #CCC;
}

.ingredients h3 {
	margin-top: 0;
}

.ingredients th {
	text-align: left;
}

.ingredients th,
.ingredients td {
	padding: 2px 5px;
}

.ingredients .ingredient {
	background-color: #CC5;
}

.ingredients .quantity {
	background-color: #CCF
}
.sugar {
	background: #CA0F69;
	background: linear-gradient(to right, #CC0B68, #D6629A, #293f50);
}

td:hover, th:hover { 
     background-color: green;
}

a:hover { 
     background-color: white;
}

